services:
  conduit:
    image: matrixconduit/matrix-conduit:latest
    container_name: conduit
    environment:
      - CONDUIT_CONFIG=/etc/conduit.toml
    volumes:
      - ${DOCKER_ROOT}/Stacks/conduit/db:/var/lib/matrix-conduit/
      - ${DOCKER_ROOT}/Stacks/conduit/conduit.toml:/etc/conduit.toml:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=backend_storage"
      - "traefik.http.routers.conduit.rule=Host(`${CONDUIT_HOST}.${DOMAIN}`)"
      - "traefik.http.routers.conduit.entrypoints=websecure"
      - "traefik.http.routers.conduit.tls.certresolver=letsencrypt"
      - "traefik.http.services.conduit.loadbalancer.server.port=6167"
    networks:
      - backend_storage
    restart: unless-stopped

networks:
  backend_storage:
    external: true
