services:
  conduit:
    image: matrixconduit/matrix-conduit:latest
    container_name: conduit
    environment:
      - CONDUIT_SERVER_NAME=${CONDUIT_HOST}.${DOMAIN}
      - CONDUIT_DATABASE_BACKEND=rocksdb
      - CONDUIT_ALLOW_REGISTRATION=true
      - CONDUIT_ALLOW_FEDERATION=true
      - CONDUIT_PORT=6167
      - CONDUIT_MAX_REQUEST_SIZE=20000000
      - CONDUIT_TRUSTED_SERVERS=["matrix.org"]
      - CONDUIT_MAX_CONCURRENT_REQUESTS=100
    volumes:
      - ${DOCKER_ROOT}/Stacks/conduit/db:/var/lib/matrix-conduit/
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=backend_storage"
      - "traefik.http.routers.conduit.rule=Host(`${CONDUIT_HOST}.${DOMAIN}`)"
      - "traefik.http.routers.conduit.entrypoints=websecure"
      - "traefik.http.routers.conduit.tls.certresolver=letsencrypt"
      - "traefik.http.services.conduit.loadbalancer.server.port=6167"
    networks:
      - backend_storage
    restart: unless-stopped

networks:
  backend_storage:
    external: true
