---
networks:
  backend_storage:
    name: backend_storage
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.42.0/24

  backend_media:
    name: backend_media
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.43.0/24  # Matches arr-stack FIREWALL_OUTBOUND_SUBNETS

  traefik_public:
    name: traefik_public
    driver: bridge

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    networks:
      - backend_storage
      - backend_media
      - traefik_public
    ports:
      - "${TRAEFIK_BIND_IP}:80:8080"  # Host 80 → Container 8080 (dashboard)
      - "${TRAEFIK_BIND_IP}:443:443"   # Host 443 → Container 443 (HTTPS services)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${DOCKER_ROOT}/Stacks/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ${DOCKER_ROOT}/Stacks/traefik/acme:/acme
      - ${DOCKER_ROOT}/Stacks/traefik/log:/var/log/traefik
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
      - ${DOCKER_ROOT}/Secrets/traefik.env
#    environment:
#      - LINODE_TOKEN=${LINODE_TOKEN}
    labels:
      - "traefik.enable=true"
      # Dashboard
      - "traefik.http.routers.dashboard.rule=Host(`${TRAEFIK_HOST}.${DOMAIN}`)" 
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.dashboard.middlewares=auth"
      # Basic auth
      - "traefik.http.middlewares.auth.basicauth.users=${USER_PASSWD}"