---
networks:
  backend_storage:
    external: true

services:
  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    networks:
      - backend_storage
    # command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD} 
    # command: redis-server --requirepass ${REDIS_PASSWORD} 
    command: redis-server
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '${DOCKER_ROOT}/Stacks/redis:/data'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=backend_storage"
      - "traefik.http.routers.redis.rule=Host(`${REDIS_HOST}.${DOMAIN}`)"
      - "traefik.http.routers.redis.entrypoints=websecure"
      - "traefik.http.routers.redis.tls.certresolver=letsencrypt"
      - "traefik.http.services.redis.loadbalancer.server.port=6379"

  redis_commander:
    image: ghcr.io/joeferner/redis-commander:latest
    container_name: redis-commander
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - backend_storage
    environment:
      - REDIS_HOST=redis
      # - REDIS_PASSWORD=${REDIS_PASSWORD}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=backend_storage"
      - "traefik.http.routers.redis_commander.rule=Host(`${REDIS_UI_HOST}.${DOMAIN}`)"
      - "traefik.http.routers.redis_commander.entrypoints=websecure"
      - "traefik.http.routers.redis_commander.tls.certresolver=letsencrypt"
      - "traefik.http.services.redis_commander.loadbalancer.server.port=8081"

  redis_insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - backend_storage
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '${DOCKER_ROOT}/Stacks/redis-insight:/db'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=backend_storage"
      - "traefik.http.routers.redis_insight.rule=Host(`${REDIS_INSIGHT_HOST}.${DOMAIN}`)"
      - "traefik.http.routers.redis_insight.entrypoints=websecure"
      - "traefik.http.routers.redis_insight.tls.certresolver=letsencrypt"
      - "traefik.http.services.redis_insight.loadbalancer.server.port=5540"

